<div class="row">
    <h1>
        Admin
    </h1>
    <hr>
    <form name="postArticle">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label>Subject</label>
                    <input type="text" class="form-control input-lg" ng-model="article.subject" ng-change="onChangeSubject()" placeholder="Enter subject" required>
                </div>
                <div class="form-group">
                    <label>Slug</label>
                    <div class="input-group">
                    <input type="text" class="form-control" ng-disabled="article.slug.autogenerate" ng-model="article.slug.input" ng-pattern="'[a-z0-9]+(\-[a-z0-9]+)*'" required>
                      <span class="input-group-addon">
                          <input type="checkbox" ng-model="article.slug.autogenerate">
                          Auto generate
                      </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <select class="form-control" ng-options="supported for supported in article.type.supported" ng-model="article.type.selected"></select>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-center">
                    <button class="btn btn-lg btn-danger" ng-click="createArticle()" ng-disabled="postArticle.$invalid">
                        Begin editing
                    </button>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <h3>
        My articles
    </h3>
    <div class="list-group" style="margin-top: 20px;">
        <div class="list-group-item" ng-repeat="item in articles">
            <h4>
                <a ui-sref="main.article.view({ article: item._id })">
                    {{ item.subject ? item.subject : "No subject"}}
                    <span ng-if="item.type === 'Text'" class="glyphicon glyphicon-file"></span>
                    <span ng-if="item.type === 'Link'" class="glyphicon glyphicon-link"></span>
                    <span ng-if="item.type === 'Video'" class="glyphicon glyphicon-facetime-video"></span>
                    <span ng-if="item.type === 'About'" class="glyphicon glyphicon-user"></span>
                </a>
                <small class="text-muted">{{item.createdat | date:"MMM d, y 'at' h:mm a"}}</small>
                <div class="pull-right">
                    <button class="btn btn-sm btn-danger" ng-click="deleteArticle($index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </h4>
        </div>
    </div>
</div>
